{% extends "auth/base_auth.html" %}
{% block title %}Login{% endblock %}
{% block form %}
<div class="container-title-login">
    <h2>FACA SEU LOGIN</h2>
    <p>Caso você já tenha conta na Invest.IA, utilize o mesmo login e senha.</p>
</div>

<form method="POST">

    <div class="input-container">
        <label id="lb-email" for="email">Email ou CPF</label>
            <i class="ph ph-envelope"></i>
            <input type="email" name="email" placeholder="fabio@email.com" required>
    </div>

    <div class="input-container">
        <label id="lb-password" for="password">Senha</label>
    
            <i class="ph ph-lock"></i>
            <input type="password" name="password" required>

            <a href="#">esqueceu a senha?</a>
    </div>
    
    <button type="submit">Entrar</button>
</form>
<p>Ainda não possui uma conta?</p>
<a href="{{ url_for('auth.register') }}" class="btn-secondary">Criar conta</a>
{% endblock %}